{% extends "main.html" %}
{% block title %}<title>About</title>{% endblock %}
{% block body %}
    <center>
        <h1><u><font size="7">About Us</font></u></h1>
    </center> 
    <p><b><font size="5" color="green">Get in Touch with Us!</font></b></p>
    <p>We value communication and feedback from our visitors. Our Contact Form is an easy and efficient way for you to reach out to us with any inquiries, questions, or comments you may have. Whether you're looking to learn more about our services, need assistance, or just want to say hello, we're here to help.</p>
    <h3><font size="5" color="green">How It Works:</font></h3>
    <ol type="1">
        <li><b>Fill Out the Form:</b> Simply provide your Name, Email Address, Subject, and a detailed Message in the form fields. We ask for your email so that we can respond directly to your inquiry. The Subject field helps us understand the purpose of your message, while the Message field gives you space to share any details.</li>
        <li><b>Send Your Message:</b> Once you've filled in the required fields, click the Submit button to send your message directly to our team. We ensure that all information you provide will be kept confidential.</li>
        <li><b>Receive a Response:</b> We strive to reply to all inquiries as quickly as possible. Our team typically responds within 24 to 48 hours. In case of urgent matters, please indicate so in your message, and we will prioritize your request.</li>
    </ol>
    <h3><font size="5" color="green">Why Use Our Contact Form?</font></h3>
    <ul type="disc">
        <li><b>Quick & Easy:</b> Our form is designed to be user-friendly, allowing you to get in touch with us in just a few clicks.
        </li>
        <li><b>Direct Communication:</b>By submitting through the form, you can ensure your message reaches the right department or individual for faster processing.</li>
        <li><b>Secure & Confidential: </b>Your privacy is important to us, and all the information you provide will be securely processed.
        </li>
    </ul>
{% endblock %}